.footerContainer {
  position: relative;
  max-width: 1920px;
  max-height: 644px;

  width: 100vw;
  height: 100vw;
 margin: 0;
 padding: 0;
}


.footer-1 {
  max-width: 1920px;
  max-height: 228px;
  width: 100vw;
  height: 100vw;
  background: #d2202c;
}

.logoContainer {
  left: 35.68%;
  right: 35.73%;
  top: 81.67%;
  bottom: 15.71%;
  margin: 1.8% 35% 7.1% 35%;
}

.ufrnLogo {
  padding: 0px 0px 0px 80px;
}

.flexContainer-Realização {
  max-width: 132px;
  max-height: 29px;
  width: 100vw;
  height: 100vw;

  padding: 39px 901px 0px 887px;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
}

.footer-2 {
  max-width: 1920px;
  max-height: 416px;
  width: 100vw;
  height: 100vw;

  left: 0px;
  background: #323237;
}

.flexWrap-footer2 {
  padding: 5% 0% 0% 25%;
  display: flex;
}

.flexContainer-footer2 {
  padding: 63px 0px 0px 0px;
  max-width: 202px;
  max-height: 87px;
  width: 100vw;
  height: 100vw;

  left: 466px;
  top: 2549px;
}

.flexContainer-footer2-1 {
  width: 146px;
  height: 225px;
  left: 887px;
  top: 2549px;

  padding: 0px 0px 0px 15%;
}

.flexContainer-footer2-1 h2 {
  width: 146px;
  height: 35px;
  left: 887px;

  font-weight: 600;
  font-size: 26px;
  line-height: 35px;

  color: #ffffff;
}

.flexContainer-footer2-1 ul {
  width: 127px;
  height: 175px;
  left: 889px;
  top: 2599px;

  font-weight: 400;
  font-size: 18px;
  line-height: 35px;

  color: #ffffff;
}

.flexContainer-footer2-1 a {
  width: 127px;
  height: 175px;
  left: 889px;
  top: 2599px;

  font-weight: 400;
  font-size: 18px;
  line-height: 35px;

  text-decoration: none;
  color: #ffffff;
}

.flexContainer-footer2-3 {
  padding: 0px 0px 0px 219px;
}

.flexContainer-footer2-3 img {
  position: relative;
  padding: 23.36px 15px 0px;
}

.flexContainer-footer2-3 h2 {
  width: 166px;
  height: 35px;
  left: 1252px;
  top: 2549px;

  font-weight: 600;
  font-size: 24px;
  line-height: 35px;

  text-align: center;
  color: #ffffff;
}

.flexContainer-footer2 img {
  width: 121px;
  height: 37.53px;
}

.flexContainer-footer2 p {
  height: 40px;
  left: 24.27%;
  right: 65.21%;
  top: calc(50% - 40px / 2 + 1165px);

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.204545px;

  color: #ffffff;
}

.footer-3 {
  max-width: 1920px;
  max-height: 84px;
  left: 0px;
  top: 2818px;

  width: 100vw;
  height: 100vw;

  background: #424146;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-3 p {
  margin-top: 2%;
  max-width: 438px;
  max-height: 35px;
  width: 100vw;
  height: 100vh;

  font-weight: 400;
  font-size: 18px;
  line-height: 35px;

  color: #ffffff;
}
