.bannerPrincipal {
  width: 1920px;
  height: 760px;
  left: 0px;
  top: 0px;

  background: url(../assets/avasus-bannerPrincipal.svg);
  background-repeat: no-repeat;
  background-position: 0cm 2.5cm
}

.titulo h1 {
  width: 346px;
  height: 37px;
  left: 787px;
  top: 974px;

  font-weight: 600;
  font-size: 30px;
  line-height: 37px;

  margin: 114px 787px 30px 787px;

  display: flex;
  align-items: center;

  color: #d2202c;
}

.subtitulos {
  display: flex;
  margin: 0px 965px 0px 405px;
  width: 550px;
  height: 35px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  justify-content: center;

  color: #2f2e41;
}

.subtitulos h4 {
  width: 202px;
  height: 24px;
  padding-right: 34px;
  white-space: nowrap;
}

.curso {
  width: 1110px;
  height: 160px;
  left: 405px;
  top: 1106px;
  margin: 20px;

  margin: 30px 405px 30px 405px;

  background: #f5f5f7;
  border-radius: 20px;
}

.cursoTopicos {
  position: absolute;
  display: flex;
}

.cursoBanner {
  width: 120px;
  height: 120px;
  left: 425px;
  top: 1126px;

  background: url(../assets/sifilis-banner.svg);
  background-repeat: no-repeat;
  border-radius: 20px;

  margin-top: 20px;
  margin-left: 20px;

  padding: 20px 0px 20px 20px;
}

.tituloParceiros {
  display: inline;
  width: 274px;
  height: 96px;

  margin-top: -20px;

  padding: 40px 23px 40px 17px;
}

.cursoTitulo {
  display: inline-block;
  width: 274px;
  height: 48px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  padding: 0px 0px 16px 0px;

  color: #2f2e41;
}

.cursoParceiros {
  width: 274px;
  height: 32px;
  display: inline-block;

  padding: 0px 855px 0px 0px;

  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #f6303f;
}

.cursoStats {
  display: flex;
  align-items: center;
  width: 438px;
  height: 24.48px;
  padding: 68px 0px 67.52px 0px;

  font-weight: 400;
  font-size: 16.7471px;
  line-height: 20px;

  color: #2f2e41;
}

.cursoMatriculados {
  display: flex;
  margin-right: 17.85px;
  padding-top: 6px;
}

.cursoMatriculados img {
  width: 30.93px;
  height: 24.48px;
  padding: 0px 12.88px 0px 23px;
}

.cursoDuracao {
  width: 77px;
  height: 20px;
}

.tempo {
  margin-left: 35px;
  margin-top: -26.5px;
}

.cursoDuracao img {
  width: 23.19px;
  height: 23.19px;
  padding: 0px 12.88px 0px 0px;
}

.cursoAvaliacao {
  font-weight: 400;
  font-size: 16.7471px;
  line-height: 20px;

  margin-top: 100px;
}

.ava {
  margin-left: 130px;
  margin-top: -25.5px;
}

.btn-verModulo {
  box-sizing: border-box;

  width: 178px;
  height: 40px;

  margin: 60px 20px 60px -40px;

  background: #707070;
  border: 1px solid #707070;
  border-radius: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  color: #ffffff;
}

.btn-container-div {
  text-align: center;
}

.btn-verMais {
  width: 350px;
  height: 50px;
  left: 785px;
  top: 1600px;

  background: #707070;
  border-radius: 20px;

  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  align-items: center;

  color: #ffffff;
}

.parceiros h4 {
  width: 144px;
  height: 37px;
  left: 888px;
  top: 1849px;

  margin: 94px 888px 33px 888px;

  font-weight: 600;
  font-size: 30px;
  line-height: 37px;

  color: #d2202c;
}

.parceiros-container {
  display: flex;
  gap: 5rem;

  width: 1110px;
  height: 210px;
  left: 405px;
  top: 1916px;

  margin: 0px 405px 776px 405px;

  background: #f5f5f7;
  border-radius: 20px;

  text-align: center;
}

.parceiros-container h1 {
  margin-top: 30px;
  width: 194px;
  height: 30px;

  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

.parceiros-container p {
  margin-top: 30px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #707070;
}

.parceiro-hp {
  margin: 5px;
}

.alinhaParceiro {
  padding-left: 30px;
}
