.slideContainer-1 {
  display: flex;
}

.slideShow-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.sobrePosicao1 {
  position: absolute;
  max-width:  38.75vw;
  max-height: 12.01vh;
  left: 718px;
  top: 275px;
}

.subtitulosobrePosicao1 {
  position: absolute;
  width: 634.67px;
  height: 36px;
  left: 644px;
  top: 425px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subtituloSobrePosicao1-Line {
  position: absolute;
  width: 150px;
  height: 0px;
  left: 891px;
  top: 405px;

  transform: rotate(180deg);
}

.prevButton-1 {
  position: absolute;
  width:  5.46875vw;
  height:  5.46875vw;
  left: 61px;
  top: 345px;
  border-radius: 40px;
  background: #434343;
  opacity: 0.2;
  backdrop-filter: blur(2px);
}

.nextButton-1 {
  position: absolute;
  width:  5.46875vw;
  height:  5.46875vw;
  left: 1850px;
  top: 345px;

  border-radius: 40px;

  background: #434343;
  opacity: 0.2;
  backdrop-filter: blur(2px);

  /* inverter botao */
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.titulo h1 {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27.03125vw;
  height: 39.3vh;

  margin: -35%  51% -10%  39%;

  font-weight: 600;
  font-size: 30px;
  line-height: 37px;

  display: flex;
  align-items: center;

  color: #d2202c;
}

.rates {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0px 60% 1% 31%;
}

.rates li {
  padding-right: 1.2em;
  color: #2f2e41;
}

.rates button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  list-style: none;

  border: none;
  background-color: #ffffff;
}

.curso {
  position: inherit;
  max-width: 1120px;
  max-height: 160px;
  width: 86.72vw;
  height: 100vh;

  margin: 0px 45% 1% 20%;

  background: #f5f5f7;
  border-radius: 20px;
}

.cursoTopicos {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursoBanner img {
  position: static;
  max-width: 120px;
  max-height: 120px;
  width: 100vw;
  height: 100vh;

  border-radius: 15%;
  margin: 20px;
}

.tituloParceiros {
  display: inline;
  max-width: 274px;
  max-height: 96px;
  width: 100vw;
  height: 100vh;

  padding: 0% 5% 4% 17px;
}

.cursoTitulo {
  display: inline-block;
  max-width: 274px;
  max-height: 48px;

  width: 100%;
  height: 100vh;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  padding: 0px 0px 16px 0px;

  color: #2f2e41;
}

.cursoParceiros {
  display: inline-block;
  max-width: 274px;
  max-height: 32px;

  width: 100%;
  height: 100vh;

  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #f6303f;
}

.cursoStats {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 438px;
  max-height: 24.48px;

  width: 100%;
  height: 100vh;

  padding: 5.8% 0 6% 0;

  font-weight: 400;
  font-size: 16.7471px;
  line-height: 20px;

  color: #2f2e41;
}

.cursoMatriculados {
  display: flex;
  margin-right: 15%;
  padding-top: 1%;
}

.cursoMatriculados img {
  max-width: 30.93px;
  max-height: 24.48px;

  width: 100%;
  height: 100%;

  padding: 0px 12.88px 0px 23px;
}

.cursoDuracao {
  width: 77px;
  height: 20px;
}

.tempo {
  margin-left: 35px;
  margin-top: -26.5px;
}

.cursoDuracao img {
  width: 23.19px;
  height: 23.19px;
  padding: 0px 12.88px 0px 0px;
}

.cursoAvaliacao {
  font-weight: 400;
  font-size: 16.7471px;
  line-height: 20px;

  margin-top: 100px;
}

.ava {
  margin-left: 130px;
  margin-top: -25.5px;
}

.btn-verModulo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;

  max-width: 178px;
  max-height: 40px;

  margin-left: 40%;

  width: 100vw;
  height: 100vw;

  background: #707070;
  border: 1px solid #707070;
  border-radius: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  color: #ffffff;
}

.btn-container-div {
  text-align: center;
}

.btn-verMais {
  width: 350px;
  height: 50px;
  left: 785px;
  top: 1600px;

  margin: 2% 2.5% 0 5%;

  background: #707070;
  border-radius: 20px;

  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  align-items: center;

  color: #ffffff;
}

.parceiros h4 {
  width: 144px;
  height: 37px;
  left: 888px;
  top: 1849px;

  margin: 5% 30% 3.8% 48%;

  font-weight: 600;
  font-size: 30px;
  line-height: 37px;

  color: #d2202c;
}

.parceiros-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;


  max-width: 1110px;
  max-height: 210px;
  width: 100vw;
  height: 100vw;
 

  margin: 0px 31.64% 15% 20%;

  background: #f5f5f7;
  border-radius: 20px;

  text-align: center;
}

.parceiros-container h1 {
  margin-top: 30px;
  width: 194px;
  height: 30px;

  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}

.parceiros-container p {
  margin-top: 30px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #707070;
}

.parceiro-hp {
  margin: 5px;
}

.alinhaParceiro {
  padding-left: 30px;
}
