.path-4-container {
  position: relative;
  display: flex;
  align-items: center;

  width: 201px;
  height: 20px;

  margin: 130px 1314px -80px 405px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
}

.path-4-container li:before {
  content: '/';
  padding: 2.5px;
}

.pages-4 {
  position: static;
  width: 147px;
  height: 20px;

  margin: 220px 1368px 10px 405px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #2f2e41;
}

.tituloContainer-4 {
  position: absolute;
  width: 347px;
  height: 49px;
  left: 405px;
  top: 180px;

  font-weight: 600;
  white-space: nowrap;
  margin: 0px 1168px 30px 0px;

  color: #d2202c;
}

.tituloContainer-4 h1{
  font-size: 40px;
  line-height: 49px;
}

.parceirosContainer-4 {
  display: inline-block;
  width: 1320px;
  height: 600px;
  margin: 0px 405px 200px 380px;
  padding-bottom: 300px;
  white-space: pre-wrap;
}

.parceirosListagem-4 {

  width: 350px;
  height: 500px;

  display: inline-block;
  padding: 20px;

  width: 400px;
}

.cursoCapaContainer-4 {
  position: static;
  margin: 0px 0px 10px 0px;
  border-bottom: 2px solid red;
}

.cursoCapa-4 {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

.parceiroTituloContainer-4 {
  display: inline-block;
  position: static;
  width: 344px;
  height: 30px;

  line-height: 190%;
  color: #2f2e41;
}

.parceiroTituloContainer-4 h1 {
  position: static;
  width: 100%;
  height: 100%;

  left: 408px;
  top: 534px;

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  align-items: center;
  text-align: center;

  color: #2f2e41;
}

.cursoParceiros-2 {
  position: static;
  width: 98px;
  height: 16px;

  margin: 10px 0px 10px 0px;
  overflow: hidden;

  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  inline-size: 350px;

  color: #f6303f;
}

.cursoStats-2 {
  position: static;
  display: flex;
  align-items: center;
  gap: 2rem;

  width: 340px;
  height: 19px;
  left: 785px;
  top: 690px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #2f2e41;
}

.cursoMatriculado-2 {
  display: flex;
  align-items: center;
}

.cursoMatriculado-2 img {
  position: static;
  width: 24px;
  height: 19px;
  left: 21.09%;
  right: 77.66%;
  top: 30.28%;
  bottom: 68.89%;

  padding-right: 10px;
}

.cursoMatriculadosDiv {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.cursoDuracao-2 {
  display: flex;
  align-items: center;
}

.cursoDuracao-2 img {
  position: static;
  width: 18px;
  height: 18px;
  left: 25.73%;
  right: 73.33%;
  top: 30.28%;
  bottom: 68.93%;

  padding-right: 10px;
}

.cursoDuracao-2-div {
  position: static;
  width: 21px;
  height: 16px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #2f2e41;
}

.cursoAvalicao-2 {
  display: flex;
  align-items: center;

  width: 144px;
  height: 17px;
  left: 601px;
  top: 691px;
}

.ava-2 {
  padding-left: 8px;
}

.cursoResumo {
  position: static;
  max-width: 350px;
  max-height: 90px;
  left: 405px;
  top: 1203px;
}

.cursoResumo p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2f2e41;
  padding: 17px 0px 0px 0px;
}

.btn-verCurso {
  display: flex;
  align-items: center;
  position: static;
  width: 87px;
  height: 22px;
  left: 668px;
  top: 814px;

  margin: 50px 0px 27px 225px;
  border: none;
  background-color: #ffffff;

  font-weight: 600;
  font-size: 17.6px;
  line-height: 22px;

  cursor: pointer;

  color: #707070;
}
